{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true,
    "jasmine": true,
    "commonjs": true
  },
  "rules": {
    "valid-jsdoc": 2,
    "comma-dangle": [2, "always-multiline"],
    "id-length": [2, {"exceptions": ["_", "$"]}]
  },
  "plugins": [
    "babel"
  ],
  "globals": {
  }
}
