{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true,
    "jasmine": true,
    "commonjs": true
  },
  "rules": {
    "valid-jsdoc": 2,
    "no-use-before-define": 0,
    "comma-dangle": [2, "always-multiline"],
    "id-length": [0],
    "object-curly-spacing": 0,
    "max-len": [2, 120, 2],
    "no-param-reassign": 0,
    "arrow-parens": [2, "as-needed"],
    "indent": [2, 2, {"SwitchCase": 1}]
  },
  "plugins": [
    "babel"
  ],
  "globals": {
  }
}
